@media (min-width: 641px) and (max-width: 1199px) {
    h1 {

        font-size: 40px;
        line-height: 55px;
        color: #ffffff;
        font-weight: 700;
        font-family: "OpenSans-Bold";
        text-align: center;
    }

    h2 {
        font-size: 18px;
        color: #0f0d0e;
        font-weight: 700;
        font-family: "OpenSans-Bold";
    }

    .header {
        background-image: url("../img/banner-bg-tablet.jpg");

    }


    .header-content {
        /*шапка меню*/
        padding-left: 30px;
        padding-right: 30px;
    }

    .menu-list {
        display: none;
    }

    .slogan {
        position: relative;
        z-index: 2;
        max-width: 80%;
        padding: 130px 0 130px;
        margin-right: auto;
        margin-left: auto;
    }

    .trend {
        display: flex;
        flex-direction: column;

    }

    .cards-trend {
        display: flex;
        flex-wrap: wrap;
    }

    .card-trend {
        display: flex;
        width: 49%;
        margin: 0.25%
    }

    .page-content {
        display: flex;
        max-width: 100%;
        justify-content: space-between;
        padding-right: 35px;
        padding-left: 35px;
        box-sizing: border-box;

    }



    .card {
        flex-direction: column;

        margin-bottom: 35px;
        padding-bottom: 10px;
        border-bottom: 3px solid #eeeeee;
    }


    .card-picture-box {
        max-width: 100%;
        padding: 0;
    }

    .card-news {
        width: 100%;
        padding: 0;
        margin-top: 10px;
    }

    .card-name {
        margin-bottom: 15px;
    }

    .card-date {
        margin-bottom: 15px;
    }

    .card-author {
        margin-bottom: 15px;
    }

    .card-content {
        margin: 0;
    }

    .other-content {
        display: flex;
        flex-direction: column;
        padding: 0;

        width: 40%;
        margin-left: 30px;
    }

    li.tags-list-item {
        margin-left: 4px;
        margin-right: 4px;
        margin-bottom: 7px;
        padding-left: 5px;
        padding-right: 5px;

    }

    .our-products {
        display: flex;

        margin-top: 10%;
        max-width: 90%;
        justify-content: space-around;

    }

    .products {
        flex-wrap: wrap;

    }

    .product {
        max-width: 41%;
        box-sizing: border-box;
        margin-bottom: 20%;
        margin-left: 3%;
        margin-right: 3%;

    }

 

    .product-content {
        max-width: 100%;
    }

    .socials {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 80px;
        padding-left: 0;

        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;

        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .copyright {
        width: 100%;
        padding: 80px 0 80px 0px;

        font-size: 12px;
        color: #999999;
        font-weight: 600;
        font-family: "Open Sans-bold";
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    @media (orientation: landscape) {

        .header {
            background-image: url("../img/banner-bg-tablet.jpg");
        }

        .trend {
            flex-wrap: wrap;
        }

        .card-trend {
            flex-wrap: wrap;
            width: 49%;
            height: auto;
            margin: 0.25%;
        }

        .our-products {
            margin-top: 15%;
            max-width: 100%;
        }

        .products {
            flex-wrap: wrap;
            flex-direction: row;
        }

        .product {
            max-width: 40%;
            box-sizing: border-box;
            margin-bottom: 10%;
            margin-left: 3%;
            margin-right: 5%;
        }

        .product:nth-child(2n+1) {
            margin-left: 2%;
        }

        .product-content-text {
            outline-offset: 20px;
            /*отодвигает расстояние между рамкой и текстом*/
        }



    }

    @media (orientation: landscape) {
        .trend {
            margin-bottom: 64px;
            width: 100%;
            box-sizing: border-box;
        }

        .cards-trend {
            display: flex;
            flex-wrap: nowrap;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            box-sizing: border-box;

        }

        .card-trend {
            box-sizing: border-box;
            width: 25%;
            margin-right: 4px;

        }

        .card-trend:last-child {
            margin-right: 0;
        }

        .our-products {
            flex-direction: column;
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
            box-sizing: border-box;
        }

        .products {
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        .product {
            max-width: 30%;
            margin-left: 2%;
            margin-right: 2%;
        }

        .product:first-child {
            margin-left: 0;
        }

        .product:last-child {
            margin-right: 0;
        }
    }

}
